flask
pytube==15.0.0
requests
pytube
pandas~=2.2.2
transformers~=4.40.1
feel_it
matplotlib
spacy==3.1.7
it-core-news-sm==3.1.0
scikit-learn==1.4.2
wordcloud==1.9.3
gensim
SciPy
google-api-python-client
statsmodels